.fixedSticky {
  position: sticky; /* this only works on some browsers or using polyfill */
  top: 0;
}

.detailsContainer {
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}
